<div class="cv-container">
  <header>
    <div class="header-content">
      <div class="name-title">
        <h1>Mykhailo Sharapov</h1>
        <p>Software Engineer at GlobalLogic</p>
      </div>
      <div class="contact-info">
        <p><span>Lviv, Ukraine</span></p>
        <p><span>+380999480683</span></p>
        <p>mikesharapov1&#64;gmail.com</p>
        <p>
          <a href="https://www.linkedin.com/in/mykhailosharapov-418a70197"
            >LinkedIn</a
          >
        </p>
        <p><a href="https://t.me/Mykhailo_Sharapov">Telegram</a></p>
      </div>
    </div>
  </header>
  <section>
    <h2>Summary</h2>
    <p>
      Experienced Software Engineer with 7 years in the industry. Skilled in
      full development cycle including deployment, optimization, and testing.
      Strong attention to detail and a thoughtful approach to tasks with a
      proven track record of meeting deadlines. Passionate about learning new
      technologies and improving software development methodologies.
    </p>
  </section>
  <section>
    <h2>Top Skills</h2>
    <ul>
      <li>C#</li>
      <li>.NET Core</li>
      <li>ASP.NET</li>
    </ul>
  </section>
  <section>
    <h2>Experience</h2>
    <div class="job">
      <h3>GlobalLogic</h3>
      <p class="role">Software Engineer</p>
      <p class="duration">February 2021 - Present (3 years 6 months)</p>
      <p class="location">Kharkiv, Ukraine</p>
    </div>
    <div class="job">
      <h3>Argus</h3>
      <p class="role">Software Engineer</p>
      <p class="duration">June 2014 - February 2021 (6 years 9 months)</p>
      <p class="location">Kharkiv, Ukraine</p>
    </div>
  </section>
  <section>
    <h2>Projects</h2>
    <div class="project">
      <h3>Healthcare platforms</h3>
      <p class="duration">February 2021 - June 2024</p>
      <p>
        A platform designed for coordinating work on medical cases with a
        special focus on safety. The platform provides comprehensive data
        protection through rigorous security checks and regular penetration
        testing, minimizing risks and ensuring reliable system operation.
      </p>
      <p>
        <strong>Skills:</strong> .NET, .NET Core, ASP.NET, Angular, Azure Cosmos
        DB, C#, Microservices, NoSQL
      </p>
    </div>
    <div class="project">
      <h3>Ambulette Smart Manager</h3>
      <p class="duration">August 2014 - February 2021</p>
      <p>
        Used for transportation providers which provide transportation services
        for clients of medical insurance companies.
      </p>
    </div>
    <div class="project">
      <h3>Non-Inertial Navigation (NIN) System</h3>
      <p class="duration">September 2017 - May 2018</p>
      <p>
        Associated with National Aerospace University - 'Kharkiv Aviation
        Institute'. Used for offline researching navigation tasks. Applicable
        for drones executing various tasks.
      </p>
    </div>
  </section>
  <section>
    <h2>Education</h2>
    <div class="education">
      <h3>National Aerospace University - 'Kharkiv Aviation Institute'</h3>
      <p class="degree">
        Master's degree, Avionics Maintenance Technology/Technician (2012 -
        2018)
      </p>
    </div>
  </section>
</div>
