<div class="cv-container">
  <header>
    <div class="header-content">
      <h1>Mykhailo Sharapov</h1>
      <p>Software Engineer at GlobalLogic</p>
      <div class="contact-info">
        <p>Lviv, Ukraine</p>
        <p>+380999480683</p>
        <p>mikesharapov1&#64;gmail.com</p>
        <p><a href="https://www.linkedin.com/in/mykhailosharapov-418a70197">LinkedIn</a></p>
        <p><a href="https://t.me/Mykhailo_Sharapov">Telegram</a></p>
      </div>
    </div>
  </header>
  <section>
    <h2>Summary</h2>
    <p>
      Experienced Software Engineer with 7 years in the industry. Skilled in full development cycle including deployment, optimization, and testing. Strong attention to detail and a thoughtful approach to tasks with a proven track record of meeting deadlines. Passionate about learning new technologies and improving software development methodologies.
    </p>
  </section>
  <section>
    <h2>Top Skills</h2>
    <ul>
      <li>C#</li>
      <li>.NET Core</li>
      <li>ASP.NET</li>
    </ul>
  </section>
  <section>
    <h2>Experience</h2>
    <div class="job">
      <h3>GlobalLogic</h3>
      <p>Sofware Engineer</p>
      <p>February 2021 - Present (3 years 6 months)</p>
      <p>Kharkiv, Ukraine</p>
    </div>
    <div class="job">
      <h3>Argus</h3>
      <p>Software Engineer</p>
      <p>June 2014 - February 2021 (6 years 9 months)</p>
      <p>Kharkiv, Ukraine</p>
    </div>
  </section>
  <section>
    <h2>Education</h2>
    <div class="education">
      <h3>National Aerospace University - 'Kharkiv Aviation Institute'</h3>
      <p>Master's degree, Avionics Maintenance Technology/Technician (2012 - 2018)</p>
    </div>
  </section>
</div>
